<?xml version="1.0"?>
  <model>
    <name>yo</name>
    <version>1.0</version>
  <sdf version="1.2">sdf/model-1_2.sdf</sdf>
  <sdf version="1.3">sdf/model-1_3.sdf</sdf>
    <sdf version="1.4">sdf/yo.sdf</sdf>
 <sdf version="1.4">sdf/model.sdf</sdf>
 
   <author>
      <name>My name</name>
      <email>name@email.address</email>
    </author>
    <description>
      A description of the model
    </description>
  </model>
